<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Journal Swift</title>
	<link rel="stylesheet" href="../css/myjournalswift.css">
	<script src="http://code.jquery.com/jquery-1.11.0.js"></script>
	
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '480297828796194',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

			<img src="{{user.profilePic}}" class="userPic">
			<h3 class="userName">{{user.fullname}}| <a href="/logout">Logout</a></h3>
	
</body>
</html>